<html>
  <head>
    <style>
    </style>
  </head>
  <body>

    <p>Help!!! 認証コードのお知らせ</p>
    <p>こんにちは {{id}} 様</p>

    <p>認証コードは {{otp}} です。</p>
    <p>本コードの有効期限は60分間です。</p>

    <p>※60分を超過しますと、セキュリティ保持のため有効期限切れとなります。
      その場合は再度、最初からお手続きをお願い致します。</p>

    <p>※本メールは送信専用メールアドレスから配信されています。
      このままご返信いただいてもお答えできませんのでご了承ください。</p>

    <p>※当メールに心当たりの無い場合は、誠に恐れ入りますが
      破棄して頂けますよう、よろしくお願い致します。</p>

  </body>
</html>