<html>
  <head>
    <style>
    </style>
  </head>
  <body>

    <p>Help!!! メールアドレス変更のお知らせ</p>

    <p>いつも当サービスをご利用頂き有難うございます。</p>
    <p>お客様メールアドレスが {{email}} への変更が完了致しました。</p>

    <p>※本メールは送信専用メールアドレスから配信されています。
      このままご返信いただいてもお答えできませんのでご了承ください。</p>

    <p>※当メールに心当たりの無い場合は、誠に恐れ入りますが
      破棄して頂けますよう、よろしくお願い致します。</p>

  </body>
</html>