[tools]
node = "23.10.0"

[tasks.outdated]
description = "Update outdated global packages"
run = "brew upgrade claude-code && brew upgrade codex && brew upgrade gemini-cli && brew upgrade mise && mo update"
alias = "o"
